<head>
    <title>Editar posts</title>
</head>
<html>
<div class="container" >

    <h1>Edição de posts</h1>
    <div class="msg-sucess" *ngIf="msgSucess" >
        <p>Post editado com sucesso !</p>
    </div>
    <button routerLink="/my_posts">Voltar</button>

</div>

<div class="post-container" >

    <div class="text-container">
        <textarea  [(ngModel)]="post" cols="70" rows="16" 
        placeholder="Digite aqui ...">{{post}}</textarea>
        <p *ngIf="!msgPost">Digite algo !!!</p>
    </div>
    <div class="btn-container">

        <button (click)="handleEdit(post)">Salvar alterações</button>
        <button routerLink="/my_posts" >Cancelar</button>
    </div>



</div>


</html>
<router-outlet></router-outlet>