<html>
<div class="container" *ngIf="edit">

    <h1>Edição de posts</h1>
    <button (click)="toggleEdit()">Voltar</button>

</div>

<div class="post-container" *ngIf="edit">

    <div class="text-container">
        <textarea  [(ngModel)]="post" cols="70" rows="16" 
        placeholder="Digite aqui ...">{{post}}</textarea>
        <p *ngIf="!msgPost">Digite algo !!!</p>
    </div>
    <div class="btn-container">

        <button (click)="handleEdit(post)">Salvar alterações</button>
        <button (click)="toggleEdit()">Cancelar</button>
    </div>



</div>
<app-myposts *ngIf="!edit"></app-myposts>

</html>