<html>
<div class="container" *ngIf="!(createPost)">

    <h1>Meus Posts</h1>

    <button (click)="toglleCreatePost()">Criar Post</button>

</div>
<div class="container-posts" *ngIf="userMaster.getPosts().length > 0 && (!createPost)">
    <div *ngFor="let posts of userMaster.getPosts()">
        <div>{{posts}}</div>
    </div>
</div>

<div class="container-input" *ngIf="createPost">
    <div class="container-back">
        <h1>Criar Post</h1>
        <button (click)="toglleCreatePost()">Voltar</button>

    </div>
    <div class="post-container">

        <textarea name="post" #post cols="70" rows="16" placeholder="Digite aqui ..."></textarea>
        <div class="btn-container">
            <button (click)="userMaster.addPost(post.value)">Postar</button>
            <button>Cancelar</button>
        </div>



    </div>

</div>

</html>