html{
    padding: 40px;
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 40px;
    
}
.container-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-posts{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.container-posts div{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #031D44;
    color: white;
}

.edit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
}
.edit-btn:hover{
    background-color: rgba(128, 128, 128, 0.5);
    
}
button{
    background-color: #031D44;
    color: white;
    border: none;
    border-radius: 12px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}

.container-input{
    display: flex;
    flex-direction: column;
}

.container-back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 40px;
}

.post-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    position: absolute;

    top: 260px;
    padding: 40px; 
    

}
.text-container{
    display: flex;
    flex-direction: column;
}

.post-container textarea{
    text-align: left;
    border: none;
    border-radius: 20px;
    height: 200px;
    padding: 10px 20px;
}

.btn-container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}

.svg-icon{
    position: relative;
    top: 1px;
    padding: 2px;
}

.text-container p{
    color: red;
    font-size: 15px;
    position: relative;
    left:20px;
    top: 10px;

    
}
.msg-sucess{
    background-color: green;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 20px;
    color: aliceblue;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
div #username{
    color: rgb(255, 255, 255);
    background-color: gray;
    border-radius: 12px;
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}



