html{
    padding: 40px;
}


.username{
    padding: 0px;
    margin-bottom: 10px;
    color: #00c594;

}

.container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 40px;
    
}

.container-posts{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.post{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #031D44;
    color: white;
}

.comment{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #007e1b;
    color: white;
}

.btn-comment{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.btn-comment:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

svg{
    color: green;
}

/* ---------------------------------- comment component ----------------------------- */
::placeholder{
    color: rgb(95, 95, 95);
}
textarea{
    border: none;
}

.commentcomponent{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    /* color: white; */
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 2px;
    width: 100%;
}
.cancel-btn{
    display: inline-block;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff00;
    width: 100%;
    height: 80%;
}
.send-btn-abble{
    display: inline-block;
    flex-direction: column;
    margin-top: 8px;
    border-radius: 10px;
    padding: 5px;
    background-color: #46aefc;
    width: 100%;
    height: 100%;
}
.send-btn-disabbled{
    display: inline-block;
    flex-direction: column;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: #b3b3b3;
    width: 100%;
    height: 100%;
}